<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nathansdev.newsfeed">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MyNewsApp"
        android:icon="@drawable/ic_news_paper"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_news_paper"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.IntroActivity"></activity>
        <activity android:name=".home.HomeActivity"></activity>
        <activity android:name=".login.LoginActivity"
            android:theme="@style/LoginTheme"></activity>
    </application>
</manifest>